out
dist
node_modules
tsconfig.tsbuildinfo
*.vsix
yarn-error.log
.DS_Store
TODO.txt
server/syntaxes/language-configuration.json
server/syntaxes/nwscript-ee.tmLanguage
server/syntaxes/nwscript-ee.tmLanguage.json
nwscript-sinfar-language-server.zip
