.dropdown
{
    width: 300px;
}

.row
{
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
}

.col-label
{
    width: 225px;
    position: relative;
    top: 4px;
    white-space: nowrap;
}

.col-input
{
    width: auto;
}

fast-number-field.root
{
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border-radius: inherit;
    border: inherit;
    height: 26px;
    align-items: baseline;
}

fast-number-field:host([appearance="filled"]).root{
    background-color: var(--vscode-input-background);
}
    /* color: var(--neutral-foreground-rest); <- --vscode-input-foreground */
    /* background: var(--neutral-fill-input-rest); <- --vscode-input-background */ 

    /* border-radius: calc(var(--control-corner-radius) * 1px); <- None */
    /* border: calc(var(--stroke-width) * 1px) solid var(--accent-fill-rest); <- None */
    /* height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px); <- 26px */
    /* align-items: baseline;
        height: 26px;
}

    :host([appearance="filled"]) .root {
    background: var(--neutral-fill-rest);
}